# Minimal secrets to store in Infisical.

TS_AUTHKEY='<tailscale-auth-key>'
RESTIC_PASSWORD='<restic-encryption-password>'
AWS_ACCESS_KEY_ID='<r2-access-key-id>'
AWS_SECRET_ACCESS_KEY='<r2-secret-access-key>'

# Optional overrides only if you want to change defaults.
# TS_HOSTNAME='gpu-workstation'
# WORKSTATION_USER='workstation'
# WORKSTATION_PASSWORD='password'
# RESTIC_REPOSITORY='s3:https://<cloudflare-account-id>.r2.cloudflarestorage.com/<bucket>/main'
