# Store these in Infisical, not in the provider or repository.

TS_AUTHKEY='<tailscale-auth-key>'
TS_HOSTNAME='gpu-workstation'
TS_ENABLE_SSH='1'

NOMACHINE_USER='workstation'
NOMACHINE_PASSWORD='password'
INSTALL_NOMACHINE='1'
NOMACHINE_DEB_URL='https://www.nomachine.com/free/linux/64/deb'
INSTALL_DESKTOP='1'
DESKTOP_PACKAGES='xfce4 xfce4-goodies dbus-x11 x11-xserver-utils'

RESTIC_REPOSITORY='s3:https://<cloudflare-account-id>.r2.cloudflarestorage.com/<bucket>/main'
RESTIC_PASSWORD='<restic-encryption-password>'
AWS_ACCESS_KEY_ID='<r2-access-key-id>'
AWS_SECRET_ACCESS_KEY='<r2-secret-access-key>'
AWS_DEFAULT_REGION='auto'

WORKSPACE_DIR='/workspace'
RESTIC_TAG='workspace'
INSTALL_SYSTEMD_TIMER='1'
INSTALL_UFW='1'
